<!DOCTYPE html>
<html>
  <head>
    <title>DWI Lens Visualiser</title>
    <link rel="stylesheet" type="text/css" media="screen" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="lib/slider/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheet.css">
    <link href='http://fonts.googleapis.com/css?family=Text+Me+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">


      <h1>DWI Lens Visualiser</h1>

      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="#">Lenses</a>
          <ul class="nav">
            <li class="active"><a class="nikon-link" href="#">Nikon</a></li>
            <li><a class="canon-link" href="#">Canon</a></li>
            <li><a class="sigma-link" href="#">Sigma</a></li>
            <li><a class="tamron-link" href="#">Tamron</a></li>
            <li><a class="tokina-link" href="#">Tokina</a></li>
          </ul>
          <p class="poweredby">Powered by <a href="http://www.dwidigitalcameras.com.au">DWI Digital Cameras</a></p>
        </div>
      </div>

      <div class="row">
        <div class="span8">

          <div id="graph"></div>
          <div id="zoom-slider"></div>

        </div>
        <div class="span4">

          <div class="lens-data">
            <h4>
              <a id="link" href="#">Click a point on a lense...</a>
            </h4>
            <label class="span2" for="focalLength">Focal Length</label>
            <input class="span2" type="text" id="focalLength">
            <label class="span2" for="aperture">Aperture</label>
            <input class="span2" type="text" id="aperture">
            <label class="span2" for="price">Price</label>
            <input class="span2" type="text" id="price">
            <label class="span2" for="preview">Preview</label>
            <a id="preview-link">
              <img id="preview" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="lens image">
            </a>
          </div>

        </div>
      </div>


    </div>

    <script src="lib/jquery.js"></script>
    <script src="lib/jquery-ui.js"></script>
    <script src="lib/jquery.flot.js"></script>
    <%# <script src="lib/bootstrap/js/bootstrap.min.js"></script> %>
    <script src="application.js"></script>
  </body>
</html>
