<p>
  Below is a visualization of the <em>Sigma</em> lenses from DWI
</p>

<canvas id="lenses" width="800" height="600">
</canvas>

<script>
  // The lenses data
  var lenses = <%= lenses_json %>;

  // Draw a line
  var c=document.getElementById("lenses");
  var ctx=c.getContext("2d");
  ctx.beginPath();
  ctx.moveTo(20,20);
  ctx.lineTo(20,100);
  ctx.lineTo(70,100);
  ctx.strokeStyle="red";
  ctx.stroke();
</script>
