<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Lenses</a>
    <ul class="nav">
      <li><a href="#">Nikon</a></li>
      <li><a href="#">Canon</a></li>
      <li class="active"><a href="#">Sigma</a></li>
      <li><a href="#">Tamron</a></li>
      <li><a href="#">Tokina</a></li>
    </ul>
    <p class="poweredby">Powered by <a href="http://www.dwidigitalcameras.com.au">DWI Digital Cameras</a></p>
  </div>
</div>

<div class="row">
  <div class="span8">
    <div id="graph"></div>
    <div id="slider-range"></div>
  </div>
  <div class="span4">
    <p id="info"> Click a point on a lense...  </p>
  </div>
</div>

<script>
  $(function () {

    var lenses = <%= lenses_json %>;

    var data = []
    $.each(lenses, function(index, value) {
      data.push({
        data: value['plot'],
        label: value['name'] + " - " + value['price'],
        lines: { show: true },
        points: { show: true }
      });
    });

    var options = {
      grid: { clickable: true },
      legend: { show: false }
    }
    $.plot($("#graph"), data, options);
    $("#graph").bind("plotclick", function (event, pos, item) {
      // TODO: Show inidividual lens attributes
      if (item)
        $("#info").text(item.series.label);
    });

    $(function() {
      $("#slider-range").slider({
        range: true,
        min: 0,    // TODO: Calculate the actual minimum and maximum
        max: 500,
        values: [0, 500],
        slide: function(event, ui) {
          zoom(ui.values[0], ui.values[1]);
        }
      });
    });

    function zoom(minimum, maximum) {
      $.plot($("#graph"), data,
        $.extend(true, {}, options, {
          xaxis: { min: minimum, max: maximum }
        })
      );
    }

  });
</script>
