<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Lenses</a>
    <ul class="nav">
      <li><a href="#">Nikon</a></li>
      <li><a href="#">Canon</a></li>
      <li class="active"><a href="#">Sigma</a></li>
      <li><a href="#">Tamron</a></li>
      <li><a href="#">Tokina</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span8">
    <div id="graph"></div>
  </div>
  <div class="span4">
    <p id="info"> Click a point on a lense...  </p>
  </div>
</div>

<script>
  $(function () {

    lenses = <%= lenses_json %>;

    data = []
    $.each(lenses, function(index, value) {
      data.push({
        data: value['plot'],
        label: value['name'] + " - " + value['price'],
        lines: { show: true },
        points: { show: true }
      });
    });

    $.plot($("#graph"), data, {
      grid: { clickable: true },
      legend: { show: false }
    });

    $("#graph").bind("plotclick", function (event, pos, item) {
      if (item)
        $("#info").text(item.series.label);
    });

  });
</script>
