<!DOCTYPE html>
<html>
  <head>
    <title>DWI Lens Visualiser</title>
    <link rel="stylesheet" type="text/css" media="screen" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="lib/slider/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheet.css">
    <link href='http://fonts.googleapis.com/css?family=Text+Me+One' rel='stylesheet' type='text/css'>
    <script src="lib/jquery.js"></script>
    <script src="lib/jquery-ui.js"></script>
    <script src="lib/jquery.flot.js"></script>
    <%# <script src="lib/bootstrap/js/bootstrap.min.js"></script> %>
  </head>
  <body>
    <div class="container">

      <h1>DWI Lens Visualiser</h1>

      <%= yield %>

    </div>
  </body>
</html>
