<!DOCTYPE html>
<html>
  <head>
    <title>DWI Lens Visualiser</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <script src="jquery.js"></script>
    <script src="jquery.flot.js"></script>
  </head>
  <body>
    <div id="container">
      <h1>DWI Lens Visualiser</h1>

      <div id="content">
        <%= yield %>
      </div>

    </div>
  </body>
</html>
