body {
  background-color: #f6f6f6;
}
.container {
  background-color: #fff;
  padding: 40px;
}
.navbar {
  margin-bottom: 50px;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: #777;
}
h1 {
  padding-bottom: 60px;
  font-family: 'Text Me One', sans-serif;
  font-size: 60px;
  color: #777;
}
#graph {
  width: 600px;
  height: 500px;
}
#zoom-slider {
  margin-top: 20px;
}
.poweredby {
  float: right;
  padding: 10px;
  margin: 0px;
}
.lens-data {
  padding-top: 30px;
}
.lens-data label {
  color: #555;
  font-family: serif;
  padding: 5px 0px;
  line-height: 30px;
  font-size: 20px;
}
.lens-data input {
  height: 30px;
  font-size: 30px;
}
.lens-data img {
  padding: 3px;
  border: 1px solid #AAA;
  margin: 30px;
}
