body {
  background-color: #f6f6f6;
}
.container {
  background-color: #fff;
  padding: 40px;
}
.navbar {
  margin-bottom: 50px;
}
h1 {
  text-align: center;
  padding-bottom: 60px;
  font-family: 'Text Me One', sans-serif;
  font-size: 60px;
  color: #777;
}
#graph {
  width: 600px;
  height: 500px;
}
.poweredby {
  float: right;
  padding: 10px;
  margin: 0px;
}
